extends layout

block content
  h1= title
  p Welcome to the API of shiny agency
  p Here are the routes available :
  ul 
  li /freelances
  li /profile/?id={id}
  li /survey
  li /results/?a1={answer1}&a2={answer2}&a3={answer3}...
